<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-color: #000000;
            color: #ffffff;
        }
    </style>
    <title>Document</title>
</head>

<body>
    <h1>A website to gather some memes!!</h1>
    <p>Here is your meme! This will refresh in 30 seconds.</p>
    <p><img src="{{meme_pic}}" alt=""></p>
    <p>Current subreddit: r/{{subreddit}}</p>
</body>

</html>