<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-color: #000000;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        img {
            max-height: 70vh;
        }
    </style>
    <title>Document</title>
</head>

<body>
    <h1>A website to gather some memes!!</h1>
    <p>Here is your meme! This will refresh in 30 seconds.</p>
    <img src="{{meme_pic}}" alt="">
    <p>Current subreddit: r/{{subreddit}}</p>
</body>

</html>